<div id="menu">
  <ul>
    <li><%= link_to "Home", '/'%></li>
    <li><%= link_to "Suprimentos", '/supplies'%></li>
    <li><%= link_to "Solicitações", '/requests'%></li>
    <li><%= link_to "Entregas", '/occurences'%></li>
  </ul>
</div>
